@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --orange: #ff7f00;
  --dark: #000000;
  --light-shadow: rgba(0, 0, 0, 0.3);
  --text-shadow: rgba(0, 0, 0, 0.8);
  --btn-gradient-start: #ff7f00;
  --btn-gradient-end: #ff1b1b;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html, body {
  background: linear-gradient(135deg, var(--orange) 0%, var(--dark) 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
  font-family: 'Creepster', cursive;
  color: #fff;
  text-align: center;
}

.container-home {
  height: calc(85vh - 40px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 0 auto;
  padding: 2px;
  padding-bottom: 50px;
  box-sizing: border-box;
  border: 5px solid #ff7f00;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 165, 0, 0.2);
  overflow: hidden;
}


@keyframes neon {

  from {
    box-shadow:
      0 0 10px #ff7f00,
      0 0 20px #ff7f00,
      0 0 40px #ff7f00,
      0 0 80px #ff7f00;
  }
  to {
    box-shadow:
      0 0 20px #ff7f00,
      0 0 30px #ff7f00,
      0 0 50px #ff7f00,
      0 0 90px #ff7f00;
  }
}

.carousel-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.slogan-home {
  font-family: var(--font-family-sans-serif);
  font-size: 3rem;
  letter-spacing: 0.05em;
  color: #fff;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: translatey(20px);
  will-change: transform, opacity;
  animation: complex-glow 5s ease-in-out infinite;
}
@keyframes complex-glow {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
    text-shadow:
      0 0 10px #ffffff,
      0 0 20px #ffffff,
      0 0 30px #ffffff,
      0 0 40px #ffffff,
      0 0 50px #ffffff,
      0 0 60px #ffffff,
      0 0 70px #ffffff;
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
    text-shadow:
      0 0 5px #ffffff,
      0 0 10px #ffffff,
      0 0 15px #ffffff,
      0 0 20px #ffffff,
      0 0 25px #ffffff,
      0 0 35px #ffffff,
      0 0 45px #ffffff;
  }
}
.btn-start-adventure {
  padding: 1em 2em;
  background: linear-gradient(to right, #ff7f00, #ff1b1b);
  border: 2px solid #fff;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  animation: pulse 5s infinite;
  display: inline-block;
  visibility: visible;
  bottom: 80px;
  position: relative;
  transition: all 0.3s ease;
  transform: translateY(-3px);
  margin-top: 0px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  will-change: transform, box-shadow;
   /* Typographie et couleur */
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-start-adventure:hover, .btn-start-adventure:focus {
  background: linear-gradient(to right, var(--btn-gradient-end), var(--btn-gradient-start));
  transform: scale(1.02);
  box-shadow: 0 12px 24px var(--light-shadow);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px #ff7f00, 0 0 20px #ff7f00;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff7f00, 0 0 30px #ff7f00;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px #ff7f00, 0 0 20px #ff7f00;
  }
}

.btn-start-adventure:hover {
  color: #000000;
}
.btn-start-adventure:hover, .btn-start-adventure:active {
  background: linear-gradient(to right, #ff1b1b, #ff7f00);
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.title-home, .carousel-caption h5, .carousel-caption p, .btn-start-adventure {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-inner a {
  outline: none;
}
.carousel-inner a:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.carousel-item {
  transition: transform 1s ease-in-out;
  position: relative;
}

.carousel-item img {
  margin: 0;
  padding: 0;
  display: block;
  height: auto;
  max-height: 50vh;
  width: 80%;
  object-fit: contain;
}

.carousel-caption {
  position: absolute;
  color: #fff;
  backdrop-filter: blur(10px);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow: hidden;
}
.carousel-caption h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000;
  margin: 0;
  animation: fadeInUp 1s ease-out;
}
.d-md-block{
  width: 300px;
  margin:auto;

}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .slogan-home {
    font-size: 2rem;

  }
}
