@import 'bootstrap';

// Styles personnalisés pour la page d'index de monstres

.container-monsters {
  margin-top: 20px;
}

.monster-card {
  border: 2px solid #FF8800;
  border-radius: 15px;
  background-color: #9b9b9b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #9b9b9b;
  transition: transform 0.3s;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.monster-card:hover {
  transform: scale(1.05);
  background-color: #FF4D00;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-height: 200px;
}

.monster-card-body {
  padding: 10px;
}

.card-title-monsters {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #FF8800;
}

.card-text-monsters {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: black;
}

.btn-primary-monsters {
  background-color: #FF8800;
  border-color: #FF8800;
  border-radius: 15px;
  font-size: 1.4rem;
  padding: 15px 30px;
  transition: background-color 0.3s;
  color: #fff;
}

.btn-primary-monsters:hover {
  background-color: #000000;
  color : #ffffff;
}
