

.monster-image {
  width: 60vw;
  height: 350px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  border-radius: 10px;
}


.monster-title {
  font-size: 36px;
  margin: 20px 0;
  color: black;
}

.monster-description {
  font-size: 18px;
  margin: 10px 0;
}

.monster-price {
  font-size: 24px;
  margin: 10px 0;
  color:black;
}

.book-button {
  margin-top: 20px;
}

.book-button a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;


  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.book-button a:hover {
  background-color: #800;
}


