body {
  background-color: #111;
  color: #fff;
  font-family: 'Creepster', cursive;
  text-align: center;
}

.container-monster {
  max-width: 800px;
  margin: 0 auto;
  background-color: #222;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #c00;
  border-radius: 10px;
  padding: 20px;
}

.monster-image {
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  border: 2px solid #c00;
  border-radius: 10px;
}

.monster-title {
  font-size: 36px;
  margin: 20px 0;
  color: #c00;
}

.monster-description {
  font-size: 18px;
  margin: 10px 0;
}

.monster-price {
  font-size: 24px;
  margin: 10px 0;
  color: #c00;
}

.book-button {
  margin-top: 20px;
}

.book-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;


  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.book-button a:hover {
  background-color: #800;
}
