<div class="container">
  <h1 class="mt-5">Vos Réservations</h1>
  <% if @user.vendor %>
      <%= render "vendor_table", bookings: @bookings %>
  <% else %>
      <%= render "non_vendor_table", bookings: @bookings %>
  <% end %>

  <%= link_to "Monsters", monsters_path, class: "btn btn-success rounded booking-index-button" %>
